* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --darker-green: #10703b;
  --dark-green: #43a36e;
  --light-green: #73cd91;
}

body {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  color: #40514e;
}

/* header with menu */

.header {
  height: 10vh;
  width: 100%;
  padding-right: 10px;
  background-color: #d9f1dd;
  display: flex;
  justify-content: right;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: right;
  align-items: center;
}

.menu a {
  text-decoration: none;
}

.menu__link {
  margin: 0 10px 0 10px;
  font-weight: bold;
  color: var(--dark-green);
  font-size: 1.2rem;
}

.menu__link_icon {
  width: 35px;
  filter: invert(51%) sepia(79%) saturate(300%) hue-rotate(95deg)
    brightness(93%) contrast(88%);
}

/* introduction section */
.intro {
  height: 90vh;
  width: 100%;
  background-color: #d9f1dd;
}

.title {
  color: var(--dark-green);
  font-family: "Leckerli One", cursive;
  font-size: 5.625rem;
}

.subtitle {
  color: var(--dark-green);
  font-family: "Volkhov", serif;
  font-size: 2.5rem;
}

.subtitle_intro {
  font-weight: normal;
}

.image {
  width: 40%;
}

.intro__image {
  margin-top: 50px;
}

/* about me section */

.about-me {
  margin-top: 100px;
}

.profile__image {
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  border-radius: 50%;
}

.subtitle__profile {
  margin: 40px 0 40px 0;
}

.profile__text {
  margin: 0 auto;
  font-size: 1.3rem;
  max-width: 400px;
  line-height: 2;
}

.hr {
  height: 2px;
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 5px;
  width: 5%;
}

.about-me__hr {
  margin: 100px auto 100px auto;
}

/* hobbies */

.hobby {
  width: 40%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.hobby__image {
  width: 25%;
}

.hobby__image_exercise {
  float: left;
  margin-right: 30px;
}

.hobby__image_book {
  float: right;
  margin-left: 30px;
}

.hobby__title {
  color: var(--darker-green);
  font-family: "Volkhov", serif;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.hobby__text {
  font-size: 1.3rem;
}

.card__image {
  width: 15%;
}
