* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  color: #40514e;
}

/* header with menu */

.header {
  height: 10vh;
  width: 100%;
  padding-right: 10px;
  background-color: #d9f1dd;
  display: flex;
  justify-content: right;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: right;
  align-items: center;
}

.menu a {
  text-decoration: none;
}

.menu__link {
  margin: 0 10px 0 10px;
  font-weight: bold;
  color: #43a46f;
  font-size: 1.2rem;
}

.menu__link_icon {
  width: 35px;
  filter: invert(51%) sepia(79%) saturate(300%) hue-rotate(95deg)
    brightness(93%) contrast(88%);
}

/* introduction section */
.intro {
  height: 90vh;
  width: 100%;
  background-color: #d9f1dd;
}

.title {
  color: #43a46f;
  font-family: "Leckerli One", cursive;
  font-size: 5.625rem;
}

.subtitle {
  /* color: #73cd91; */
  color: #43a46f;
  font-family: "Volkhov", serif;
  font-size: 2.5rem;
}

.subtitle_intro {
  font-weight: normal;
}

.image {
  width: 40%;
}

.intro__image {
  margin-top: 50px;
}

.profile__image {
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  border-radius: 50%;
}

.hr {
  height: 2px;
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 5px;
  width: 5%;
}

.about-me__hr {
  margin: 100px auto 100px auto;
}

.hobby__title {
  color: #11999e;
  font-family: "Volkhov", serif;
}

.card__image {
  width: 15%;
}
